:host {
  display: block;
  background: linear-gradient(to right, #5c1a6a, #37003c);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
}

.search-input {
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  width: 300px;
  font-size: 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: block;
  
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

#datatable_standings {
  width: 90%; 
  max-width: 1200px; 
  margin-top: 20px;
  background-color: #5a0283;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

#datatable_standings th,
#datatable_standings td {
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  font-size: 14px;
}

.pagination-controls button {
  border-radius: 6px;
  font-weight: bold;
}

.pagination-controls span {
  font-size: 16px;
}

.centered {
  text-align: center !important;
  vertical-align: middle !important;
}

table.table {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  color: #37003c;
}

table thead {
  background-color: #7200a7;
  color: #ffffff;
}

table thead th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  padding: 12px;
}

table tbody td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

table tbody tr:hover {
  background-color: #f6f0fc;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  table th,
  table td {
    font-size: 12px;
    padding: 6px;
  }

  .search-input {
    width: 100%;
  }
}

.main-container {
  background-color: black;
  padding: 20px;
}


.team-name img {
  width: 30px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}
.fav-btn {
  background: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.2s, color 0.3s;
  color: #ccc; 
}

.fav-btn:hover {
  transform: scale(1.2);
  color: gold;
}

.fav-btn.added {
  color: gold; 
  text-shadow: 0px 0px 6px rgba(255, 215, 0, 0, 0.8);
}
.btn-ver {
  background-color: #37003c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}
.btn-ver:hover {
  background-color: #5a0070;
}
.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1) !important; 
    color: #ffffff !important; 
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: transparent !important;
    color: #ffffff !important;
}